# Algorithm: Linear Regression:

# **Project: Evaluate the Ad Budget Dataset of XYZ Firm**

# **Author: Parthib**


---

#### 1: Import the dataset

In [0]:
#Import the required libraries
import pandas as pd

In [0]:
#Import the advertising dataset
Advertising_DF = pd.read_csv('Advertising Budget and Sales.csv',index_col=0)

#### 2: Analyze the dataset

In [5]:
#View the initial few records of the dataset
Advertising_DF.head()

   TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)  Sales ($)
1             230.1                 37.8                     69.2       22.1
2              44.5                 39.3                     45.1       10.4
3              17.2                 45.9                     69.3        9.3
4             151.5                 41.3                     58.5       18.5
5             180.8                 10.8                     58.4       12.9

In [6]:
#Check the total number of elements in the dataset
Advertising_DF.size

800

#### 3: Find the features or media channels used by the firm

In [7]:
#Check the number of observations (rows) and attributes (columns) in the dataset
Advertising_DF.shape

(200, 4)

In [8]:
#View the names of each of the attributes
Advertising_DF.columns

Index(['TV Ad Budget ($)', 'Radio Ad Budget ($)', 'Newspaper Ad Budget ($)',
       'Sales ($)'],
      dtype='object')

#### 4: Create objects to train and test the model; find the sales figures for each channel

In [0]:
#Create a feature object from the columns
X_Features=Advertising_DF[['TV Ad Budget ($)','Radio Ad Budget ($)','Newspaper Ad Budget ($)']]

In [10]:
#View the feature object
X_Features.head()

   TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)
1             230.1                 37.8                     69.2
2              44.5                 39.3                     45.1
3              17.2                 45.9                     69.3
4             151.5                 41.3                     58.5
5             180.8                 10.8                     58.4

In [0]:
#Create a target object (Hint: use the sales column as it is the response of the dataset)
Y_Response = Advertising_DF[['Sales ($)']]

In [12]:
#View the target object
Y_Response.head()

   Sales ($)
1       22.1
2       10.4
3        9.3
4       18.5
5       12.9

In [13]:
#Verify if all the observations have been captured in the feature object
X_Features.shape

(200, 3)

In [14]:
#Verify if all the observations have been captured in the target object
Y_Response.shape

(200, 1)

#### 5: Split the original dataset into training and testing datasets for the model

In [0]:
#Split the dataset (by default, 75% is the training data and 25% is the testing data)
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X_Features,Y_Response,random_state=1)

In [35]:
#Verify if the training and testing datasets are split correctly (Hint: use the shape() method)
print(x_train.shape)
print(x_test.shape) 
print(y_train.shape) 
print(y_test.shape)

(150, 3)
(50, 3)
(150, 1)
(50, 1)

#### 6: Create a model  to predict the sales outcome

In [36]:
#Create a linear regression model
from sklearn.linear_model import LinearRegression
linreg=LinearRegression()
linreg.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [37]:
#Print the intercept and coefficients 
linreg.intercept_
linreg.coef_

array([[0.04543356, 0.19145654, 0.00256809]])

In [38]:
#Predict the outcome for the testing dataset
Y_Pred=linreg.predict(x_test)
Y_Pred.shape
Y_Pred

array([[16.38348211],
       [20.92434957],
       [21.61495426],
       [10.49069997],
       [22.17690456],
       [13.02668085],
       [21.10309295],
       [ 7.31813008],
       [13.56732111],
       [15.12238649],
       [ 8.92494113],
       [ 6.49924401],
       [14.30119928],
       [ 8.77233515],
       [ 9.58665483],
       [12.09485291],
       [ 8.59621605],
       [16.25337881],
       [10.16948105],
       [18.85753401],
       [19.5799036 ],
       [13.15877029],
       [12.25103735],
       [21.35141984],
       [ 7.69607607],
       [ 5.64686906],
       [20.79780073],
       [11.90951247],
       [ 9.06581044],
       [ 8.37295611],
       [12.40815899],
       [ 9.89416076],
       [21.42707658],
       [12.14236853],
       [18.28776857],
       [20.18114718],
       [13.99303029],
       [20.89987736],
       [10.9313953 ],
       [ 4.38721626],
       [ 9.58213448],
       [12.6170249 ],
       [ 9.93851933],
       [ 8.06816257],
       [13.45497849],
       [ 5.25769423],
       [ 9.15399537],
       [14.09552838],
       [ 8.71029827],
       [11.55102817]])

#### 7: Calculate the Mean Square Error (MSE)

In [0]:
#Import required libraries for calculating MSE (mean square error)
from sklearn import metrics
import numpy as np

In [40]:
#Calculate the MSE
np.sqrt(metrics.mean_squared_error(y_test,Y_Pred))

1.6970632663793634